<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<th:block th:include="Fragments/head :: head">
</th:block>
</head>
<body>
	<div class="container">
		
			<img src="/images/error500.png" alt="Error 500 - INTERNAL SERVER ERROR"
				width="600" height="200" /> <br> <br>
			<h2>HTTP SERVICE - GESTIÓ D'EMPLEATS</h2>
			
			<h3>Ups! El servidor no sap com resoldre aquesta incidència...</h3>
			<p>
				<a class="btn btn-primary" th:href="@{/}" role="button">Torna
					a l'inici</a>
			</p>
		</div>
</body>
</html>